/* header */
#header-bar {
	.sitewrapper {

		

i {
				margin:0 10px 0 0;
				
				
			}


			.header-bar-datos {
				font-size: 0.9em;
				i {
				margin:0 0 0 15px;
				@include query-phone-up {
					margin:0 3px 0 15px;
				}
				
			}
			}
			
		}
	
}

/* forms */
.formulario {
	
	.formulario-margen {
		margin-bottom: 10px
	}
	span {
		display: block;
		font-size: 0.9em;
		line-height:1em;
	}
	input[type~="text"], input[type~="textarea"] {
		padding: 5px;
margin: 6px 0 4px;
border: 1px solid #ccc;
background: #fafafa;
color: #000;
-webkit-border-radius: 2px;
border-radius: 2px;
width: 100%
	}
	input[type~="textarea"] {
		height: 150px
	}
	.formulario-mitad {
		display: flex;
		justify-content: space-between;
		div{
			width: 48%;
		}
	}
}

/* elements */

.titulo-home {
	margin-bottom: 35px
}
.divisor {
	display: block;
	height: 3px;
	background-color: red;
	width: 15%;
	margin: 15px 75% 15px 0;

}

.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-size: .875rem;
    letter-spacing: 2.5px;
    padding: 14px 35px;
}

.nav-buttons {
	.btn-primary {
		margin-left: 15px;
		padding: 14px 15px;
		transition: padding 0.25s ease-in;
	}
}

.hide-nav {
  	.header-wrap {
	  	height: 55px;
	    transition: height 0.25s ease-in;
	}
	#header-bar {
	  	height: 30px;
	    transition: height 0.25s ease-in;
	}
	.nav-buttons .btn-primary {
	  	padding: 10px 15px;
	  	transition: padding 0.25s ease-in;
	}
}

/* secciones */

/* contact */
.dato-margen-bottom {
		margin-bottom: 15px;
	}
.contacto-contenedor {
	@include query-phone-down {
		.margin-mobile {
			margin-bottom: 15px
		}
		}	
	@include query-phone-up {
		display: flex;
		}	
		.dato-margen {
			margin-right: 35px
		}
}


.page-1 {
	#seccion1 {
		position: relative;
		height: 700px;
		overflow: hidden;
		background: #222;
		.video-home {
			opacity: 0.5;
		}
		.texto-video {
			position: absolute;
			left: 0;
			right: 0;
		}
		
		h1 {
			font-size: 3.2em;
		}
		small {
	    	font-size: 0.5em;
	    	font-weight: normal;
	    	display: block;
	    	margin-top: 10px
		}
	}
}



.gallery-01 {
	ul {
		
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		color: white;
		a {
			color: white;
		}
		li {
			@include query-phone-up {
		width: 50%;
		}
			@include query-tablet-up {
		width: 25%;
		}
			width: 100%;
			height: 200px;
			margin-bottom: 45px;
			overflow: hidden;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			img {
				height: 300px;
			    width: auto;
			    max-width: none;
			}
			.entry-info {
				width: 80%;
				position: absolute;
				top:45%;
			}
		}
	}
}

.miembros-equipo {
	ul {
		margin-left: auto;
		margin-right: auto;
		max-width: 700px;
		@include query-tablet-down {
		width: 80%;
		}
		li{
			max-width: 350px;
			margin-left: auto;
		margin-right: auto;
		}
		a{
			position: relative;
			display: block;
		}
		.equipo-info {
		    position: absolute;
		    background: white;
		    padding: 35px 15px;
		    width: 90%;
		    bottom: -62px;
		    left: 50%;
		    -webkit-transform: translateX(-50%) skewX(7deg) rotate(6deg);
		    -o-transform: translateX(-50%) skewX(7deg) rotate(6deg);
		    transform: translateX(-50%) skewX(7deg) rotate(6deg);
		    box-shadow: 3px 7px 16px rgba(0, 0, 0, 0.32);
		    text-align: center;
		}

	}
	
}

.modulo-frase {
	aside {
		max-width: 700px;
	}
	background: #444 url("images/bg-2.jpg") 50% 0 no-repeat fixed;
  	h2 {
		font-size: 2em;
		line-height: 1.8em;
	}
	a {

margin-left: auto;
		margin-right: auto;
	}
	.fa-quote-left {
		font-size: 1.4em;
		margin-right: 5px
	}
	.fa-quote-right {
		font-size: 0.7em;
		margin-left: 5px
	}
}

.modulo-afp {
	padding: 20px 0;
	.sitewrapper{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		img {
		width: 180px !important;
		margin: 0 25px 0 0;
	}
	}
	
}

.modulo-testimonios {

	
	.sitewrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

	}
	.testimonios-blockquote {

width: 96%;
		
		@include query-phone-up {
		
width: 46%;
		}
		@include query-desktop-up {
		
width: 29%;
		}
	margin:2%;
		
.testimonios-name {
		position: relative;
padding-left: 55px;
		.testimonios-letter {
    position: absolute;
    background: #7d6fb0;
    color: white;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    left: -4px;
    font-size: 1.5rem;
    font-weight: 600;
	}
	}
	}
	
	
}


/*articulos*/

.seccion-articulos {
	p{
		margin: 0;
	}
	.continue-reading {
		text-align: right;
		font-weight: 700
	}
	.titulo-articulos {
		display: flex;
		justify-content: space-between;
		width: 100%;
		border-bottom: 1px solid gray;
		padding-bottom: 10px;
	}
	.bloque-articulo {
		margin-top: 15px;
	}
}