/*
#seccion1 {
	background: #444 url("images/bg-1.jpg") no-repeat center center fixed;
}

#seccion2 .icons-text img{
	max-width: 100px;
}

#seccion3 {
	background-color: #1BAC91;
	h2 {
		font-size: 2em !important;
		line-height: 1.5em !important;
	}
}

#seccion4 {
	background-color: #F2F2F2;
	.icons-text img {
		max-width: 150px;
	}
}


#seccion6 {
	background: #444 url("images/bg-2.jpg") 50% 0 no-repeat fixed;
  	h2 {
		font-size: 2em;
	}
}

#seccion8 {
	background-color: #1BAC91;
	color: white; 
}



@include query-tablet-up {

	.grid1 {
		display: grid;
	}

	.grid2 {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		justify-items: center;
	}

	.grid3 {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		justify-items: center;
	}

	.grid4 {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		justify-items: center;
	}

	.grid5 {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		justify-items: center;
	}

}

*/