/* pallet */
$color__pallet-one: #08a5cb;
$color__pallet-two: #06738E;
$color__pallet-three: #044a5b;
$color__pallet-four: #00171f;
$color__pallet-five: #8dbfcb;
$color__pallet-six: #b7b5b5;
$color__pallet-seven: #818181;

/* body */
$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;


/* header */
$color__header:#fff;
$color__header-bar: #08a5cb;
$color__header-bar-text: #fff;
$color__header-background: #06738E;
$color__nav-button: #3598D9;
$color__nav-button-hover: #3598D9;
$color__nav-button-focus: #3598D9;

/* text */
$color__text-main: #404040;
$color__main-text: #3598D9;
$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;

/* breadcrumbs */
$color__breadcrumbs: #b7b5b5;
$color__breadcrumbs-link: #8dbfcb;
$color__breadcrumbs-hover: #06738E;

/* entry-meta */
$color__entry-meta: #818181;
$color__entry-meta-link: #08a5cb;
$color__entry-meta-link-hover: #06738E;

/* tags */
$color__tags: #b7b5b5;
$color__link-tag: #8dbfcb;
$color__link-tag-hover: #06738E;

/* links */
$color__link: #08a5cb;
$color__link-visited: #08a5cb;
$color__link-hover: #06738E;
$color__link-text: royalblue;
$color__link-text-visited: purple;
$color__link-text-hover: midnightblue;


/* buttons */
$color__background-button: #e6e6e6;
$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

/* categories */
$color__background-button-cat: #3598D9;
$color__text-button-cat: white;

/* footer */
$color__footer-background: #fff;
$color__footer-background2: #3598D9;
