/* pallet */
$color__pallet-one: #b50937;
$color__pallet-two: #e60b46;
$color__pallet-three: #95082e;
$color__pallet-four: #30393a;
$color__pallet-five: #d67891;
$color__pallet-six: #b7b5b5;
$color__pallet-seven: #818181;

/* body */
$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;


/* header */
$color__header:#fff;
$color__header-bar: #30393a;
$color__header-bar-text: #fff;
$color__header-background: #fff;
$color__nav-links: #7a7a7a ;
$color__nav-links-hover: rgba(122,122,122,.7);
$color__nav-links-focus: rgba(122,122,122,.7);
$color__nav-button: #7a7a7a ;
$color__nav-button-hover: rgba(122,122,122,.7);
$color__nav-button-focus: rgba(122,122,122,.7);

/* text */
$color__text-main: #404040;
$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;

/* breadcrumbs */
$color__breadcrumbs: #b7b5b5;
$color__breadcrumbs-link: #d67891;
$color__breadcrumbs-hover: #b50937;

/* entry-meta */
$color__entry-meta: #818181;
$color__entry-meta-link: #b50937;
$color__entry-meta-link-hover: #e60b46;

/* tags */
$color__tags: #b7b5b5;
$color__link-tag: #d67891;
$color__link-tag-hover: #b50937;

/* links */
$color__link: #b50937;
$color__link-visited: #b50937;
$color__link-hover: #e60b46;
$color__link-text: royalblue;
$color__link-text-visited: purple;
$color__link-text-hover: midnightblue;


/* buttons */
$color__background-button: #b50937;
$color__background-button-hover: #b50937;
$color__border-button: #b50937;
$color__border-button-hover: #b50937;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

/* categories */
$color__background-button-cat: #3598D9;
$color__text-button-cat: white;

/* footer */
$color__footer-background: #95082e;
$color__footer-background2: #30393a;
$color__footer-background3: black;
