a {
	color: black;
	text-decoration: none;
	&:visited {
		color: black;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
		text-decoration: underline;
	}
}

.entry-content a {
	color: $color__link;

	&:visited {
		color: $color__link;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
}

.breadcrumbs a {
	color: $color__breadcrumbs-link;

	&:visited {
		color: $color__breadcrumbs-link;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__breadcrumbs-hover;
	}
}

.entry-meta a {
	color: $color__entry-meta-link;

	&:visited {
		color: $color__entry-meta-link;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__entry-meta-link-hover;
	}
}

.tags-links a {
	color: $color__link-tag;

	&:visited {
		color: $color__link-tag;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-tag-hover;
	}
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, {
	text-decoration: none;
}