h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: $color__text-main;
	&:visited {
		color: $color__text-main;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link;
	}
}
a {
	color: $color__link;
	text-decoration: none;
	&:visited {
		color: $color__link;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
		text-decoration: underline;
	}
}

#header-bar {
	a {
		color: #fff !important;
		text-decoration: none
	}
}
#primary-menu {
	
	a {
		color: $color__nav-links;
		&:hover,
	&:focus,
	&:active {
		color: $color__link;
	}
	}
	a[aria-current]{
		color: $color__link;
	}
}

.entry-content a {
	color: $color__link;

	&:visited {
		color: $color__link;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
}

.breadcrumbs a {
	color: $color__breadcrumbs-link;

	&:visited {
		color: $color__breadcrumbs-link;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__breadcrumbs-hover;
	}
}

.entry-meta a {
	color: $color__entry-meta-link;

	&:visited {
		color: $color__entry-meta-link;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__entry-meta-link-hover;
	}
}

.tags-links a {
	color: $color__link-tag;

	&:visited {
		color: $color__link-tag;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-tag-hover;
	}
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, {
	text-decoration: none;
}