/* title, content, meta */
.hentry {
	margin-bottom: 1.6em;
	overflow: hidden;
}

.entry-meta {
	margin-bottom: 1em;
	color: $color__entry-meta;
	font-size: $font__size-entry-meta;
}

.blog, .archive {
	.hentry {
		margin-bottom: 2.5em;
	}
	.entry-meta {
	margin-bottom: 0.2em;
	}
}

.tags-links {
	font-size: $font__size-tags-links;
	color: $color__tags;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	
}

 .sticky {

}

/* Landing Pages */

/* General */
.seccion {
	padding: 45px 0;
}

.titulo-seccion {
	text-align: center;
	margin-top: 45px;
}

.bloque-chico {
	margin: 45px 0;
	text-align: center;
}

.bloque-articulo {
	margin: 45px 0;
}

.fondoraya {
	background: #fff url('images/bg-widget-white.gif') repeat 0 0;
	border-top: 1px solid rgba(167, 167, 167, 0.08);
	border-bottom: 1px solid rgba(167, 167, 167, 0.08);
}

.leftquote {
	width: 60px;
	margin-right: 25px;
}


/* iconos */

.icons-text {
	text-align: center;
}

/* modulos */

.modulo-frase {
	background-color: grey;
	color: white;
	text-align: center;
	padding: 60px 0;

	h2 {
		margin-bottom: 35px;	
	}

}

.modulo-img-slider {
	background-color: grey;
	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	min-height: 600px;
  	text-align: center;
  	color: white;
}

/*----------Slider--------------*/

/* Slideshow container */
.mySlides {
	font-size: 0
}
.slideshow-container {
 	width: 100%;
 	position: relative;
 	margin: auto;
	z-index: -999;
}

.sliderdots {
	position: absolute; 
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto; 
	bottom: 20px;
	z-index: 9999;
}

/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.texto-slider {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover {
	background-color: #717171;
}

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
	.prev, .next,.text {font-size: 11px}
} 


